@import "tailwindcss";

:root {
  /* Primary (Indigo) */
  --primary-100: #E0E7FF;
  --primary-300: #A5B4FC;
  --primary-500: #6366F1;
  --primary: #4F46E5;
  --primary-900: #1E1B4B;

  /* Secondary (Cyan) */
  --secondary-100: #CFFAFE;
  --secondary-300: #67E8F9;
  --secondary-500: #22D3EE;
  --secondary: #06B6D4;
  --secondary-900: #164E63;

  /* Neutral */
  --background: #F8FAFC;
  --foreground: #0F172A;
}

@theme inline {
  /* Primary */
  --color-primary-100: var(--primary-100);
  --color-primary-300: var(--primary-300);
  --color-primary-500: var(--primary-500);
  --color-primary: var(--primary);
  --color-primary-900: var(--primary-900);

  /* Secondary */
  --color-secondary-100: var(--secondary-100);
  --color-secondary-300: var(--secondary-300);
  --color-secondary-500: var(--secondary-500);
  --color-secondary: var(--secondary);
  --color-secondary-900: var(--secondary-900);

  /* Neutral */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0F172A; /* slate-900 */
    --foreground: #F8FAFC; /* light text */
  }
}

.PhoneInputInput {
  @apply outline-none focus:outline-none focus:ring-0;
}